node_modules/

# Ignore test artifacts but keep configs
tests/*/*/
!tests/**/astro.config.mjs
!tests/**/astro.config.ts
!tests/**/svelte.config.js
!tests/**/svelte.config.ts
!tests/**/next.config.js
!tests/**/next.config.mjs
